* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.topnav {
    overflow: hidden;
    background-color: #008c8c;
    height: 80px;
    width: 100%;
}

.topnav .title {
    color: seashell;
    font-size: 1.8em;
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;
    line-height: 80px;
    float: none;
    text-align: center;
}


.register {
    width: 400px;
    height: 480px;
    padding: 13px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
 
    background-image: url(./loginbg.png);
 
    border-radius: 10px;
    text-align: center;
}
 
.register form {
    background: rgba(255, 255, 255, 0.8);
    height: 350px;
    margin-top: 4em;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

.label_input {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
 
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: black;
    background: rgb(210, 165, 117);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input {
    margin-top: 2em;
}

.options p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    margin-left: 0.8em;
 
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    float: left;
 
    color: black;
    background: rgb(210, 165, 117);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.options select {
    margin-top: 2em;
    margin-right: 0.8em;
    float: right;

    height: 28px;
    width: 278px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
#btn_register {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
 
    width: 150px;
    height: 32px;
    line-height: 28px;
 
    color: white;
    background-color: rgb(210, 165, 117);
    border-radius: 6px;
    border: 0;
 
    margin: 3em 6em;
    padding: 0 28px;
}

#btn_register:hover {
    background-color: sandybrown;
}
 
